div#container {
  background-color: #000000;
}
div.project {
  width: 100%;
  position: absolute;
  height: 400px;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  
  display: block;
}
div.project:nth-child(1) {
  top: 0px;
  height: 400px;
  background-image: url('imgs/background1.jpg');
}
div.project:nth-child(2) {
  background-image: url('imgs/background2.jpg');
  top: 400px;
}
div.project:nth-child(3) {
  background-image: url('imgs/background3.jpg');
  top: 400px;
}
div.project:nth-child(4) {
  background-image: url('imgs/background4.jpg');
  top: 600px;
}
div.project:nth-child(5) {
  background-image: url('imgs/background5.jpg');
  top: 800px;
}
div.project:nth-child(6) {
  background-image: url('imgs/background2.jpg');
  top: 1000px;
}
div.project:nth-child(7) {
  background-image: url('imgs/background1.jpg');
  top: 1200px;
}
div.project:nth-child(8) {
  background-image: url('imgs/background3.jpg');
  top: 1400px;
}


div.project.odd {
  -webkit-transform: rotate(-2deg) scale(1);
  -moz-transform: rotate(-2deg) scale(1);
}
div.project.even {
  -webkit-transform: rotate(2deg) scale(1);
  -moz-transform: rotate(2deg) scale(1);
}
div#scrollcontainer {
  height: 5000px; 
  z-index:2; 
  position: absolute; 
  left: 0px; 
  top: 0px;
}

div.project.active {
  top: 10px;
  height: 400px;
  -webkit-transform: translate(0,0);

}
